@use "../css/colors";

$rubrik-color: #E91E63;
$primary-font: Inter, sans-serif;
$rubrik-font: Rubik Doodle Shadow, Inter, sans-serif;

h1 {
    color: $rubrik-color;
    font-family: $rubrik-font;
    font-size: 3rem;
}

.underrubrik {
    font-family: $rubrik-font;
    font-size: 1.75rem;
}

.image-startsida {
    width: 25vw;
    height: 35vh;
}

.rubrik-ruta-recept {
    margin: 3vh 2vw;
    font-size: 1.5rem;
}

// Ljust läge
body {
    background-color: colors.$light-bg;
    color: colors.$light-text;
    margin: 0;
    padding: 0;
    font-family: $primary-font;
}

header,
main,
footer,
.toolbar {
    background-color: colors.$light-surface;
}

a {
    color: colors.$light-link;
}

#nav-footer a {
    color: colors.$light-footer-link;
}

// Mörkt läge
@media (prefers-color-scheme: dark) {
  body {
    background-color: colors.$dark-bg;
    color: colors.$dark-text;
  }

  header,
  main,
  footer,
  .toolbar {
    background-color: colors.$dark-surface;
  }

  a {
    color: colors.$dark-link;
  }

  #nav-footer a {
    color: colors.$dark-footer-link;
  }
}

body.dark {
  background-color: colors.$dark-bg;
  color: colors.$dark-text;
}

body.dark header,
body.dark main,
body.dark footer,
body.dark .toolbar {
  background-color: colors.$dark-surface;
}

body.dark a {
  color: colors.$dark-link;
}

body.dark #nav-footer a {
  color: colors.$dark-footer-link;
}

// Switch
body.light {
  background-color: colors.$light-bg;
  color: colors.$light-text;
}

body.light header,
body.light main,
body.light footer,
body.light .toolbar {
  background-color: colors.$light-surface;
}

body.light a {
  color: colors.$light-link;
}

body.light #nav-footer a {
  color: colors.$light-footer-link;
}