@use "../css/colors";

$rubrik-color: #E91E63;
$primary-font: Inter, sans-serif;
$rubrik-font: Rubik Doodle Shadow, Inter, sans-serif;

h1 {
    color: $rubrik-color;
    font-family: $rubrik-font;
    font-size: 3rem;
}

body {
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    background-color: colors.$primary-light;
}

.underrubrik {
    font-family: $rubrik-font;
    font-size: 1.75rem;
}

.image-startsida {
    width: 25vw;
    height: 35vh;
}

.rubrik-ruta-recept {
    margin: 3vh 2vw;
    font-size: 1.5rem;
}