@use "../css/colors";

$rubrik-color: #E91E63;
$primary-font: Inter, sans-serif;
$rubrik-font: Rubik Doodle Shadow, Inter, sans-serif;

h1 {
    color: $rubrik-color;
    font-family: $rubrik-font;
    font-size: 3rem;
}

body {
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    background-color: colors.$primary-light;
}

.underrubrik {
    font-family: $rubrik-font;
    font-size: 1.75rem;
}

.image-startsida {
    width: 25vw;
    height: 35vh;
}

.rubrik-ruta-recept {
    margin: 3vh 2vw;
    font-size: 1.5rem;
}

// Skiftar emllan mörkt och ljust läge
// Ljust läge
body {
  background-color: colors.$white;
  color: colors.$black;
}

header,
main,
footer {
  background-color: colors.$white;
}

a {
  color: colors.$primary;
}

// Ljust läge
body.dark {
  background-color: colors.$gray-900;
  color: colors.$white;
}

body.dark header,
body.dark main,
body.dark footer {
  background-color: colors.$gray-800;
}

body.dark a {
  color: colors.$primary-light;
}