@use "sass:color";

// Basfärg
$base-color: #E91E63;
$primary: $base-color;
$primary-light: color.scale($base-color, $lightness: 90%);
$primary-dark: color.scale($base-color, $lightness: -30%);
$primary-complement: color.complement($base-color);

// Ljust läge
$light-bg: $primary-light;
$light-surface: #ffffff;
$light-text: #111111;
$light-link: $primary;
$light-footer-link: #111111;

// Mörkt läge
$dark-bg: #121212;
$dark-surface: #1e1e1e;
$dark-text: #ffffff;
$dark-link: $primary-light;
$dark-footer-link: #ffffff;
