@use "sass:color";

// Färgschema för rosa färger
$base-color: #E91E63;

$primary: $base-color;
$primary-light: color.scale($base-color, $lightness: 90%);
$primary-dark: color.scale($base-color, $lightness: -40%);
$primary-complement: color.complement($base-color);

// Neutrala färger
$white: #ffffff;
$black: #111111;
$gray-100: #f5f5f5;
$gray-800: #1e1e1e;
$gray-900: #121212;