@use "../css/colors";
@use "../css/layout";

.ruta-recept {
  height: 45vh;
  margin-bottom: 5vh;
  color: white;
}

// Switch för mörkt eller ljust tema
.theme-switch {
  position: relative;

  input {
    display: none;
  }

  label {
    display: inline-block;
    width: 52px;
    height: 28px;
    background-color: #ccc;
    border-radius: 999px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
  }

  .switch {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }

  input:checked + label {
    background-color: #e91e63;
  }

  input:checked + label .switch {
    transform: translateX(24px);
  }
}