@use "../css/mixins";
@use "../css/colors";

$width-body: 70vw;
$pink-color: #E91E63;
$white-font: white;
$background-body: white;

%body-box {
    width: $width-body;
    margin: 0 auto;
    padding: 3vh 4vw;
}

header {
    @extend %body-box;
    margin: 5vh auto 3.5vh auto;
    @include mixins.flex ();
    background-color: $background-body;
}

.menu-nav {
    display: none;
    border: none;
}

#nav-header {
    @include mixins.flex ();
    gap: 3vw;

    li {
        list-style-type: none;
        margin: 0;
        background-color: $pink-color;
        padding: 1.5vh 1vw;
        border-radius: 1rem;
        text-align: center;
        font-weight: 600;

        a {
            color: $white-font;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.toolbar {
    @extend %body-box; 
    margin: 0 auto 3vh auto;
    @include mixins.flex ();
    background-color: $background-body;
}

main {
    @extend %body-box;
    background-color: $background-body;
}

.flex-recept {
    @include mixins.flex ();
}

footer {
    @extend %body-box; 
    margin: 5vh auto;
    background-color: $background-body;
}

#nav-footer {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        margin-bottom: 1vh;

        a {
            color: black;
        }
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw;
    }

    #nav-header {
        display: none;
    }

    .menu-nav {
        display: flex;
        width: auto;
        padding: 1rem;
        border-radius: 2rem;
    }

    .menu-nav a {
        display: block;
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw;
    }

    #nav-header {
        display: none;
    }

    .menu-nav {
        display: flex;
        width: auto;
        padding: 1rem;
        border-radius: 2rem;
    }

    .menu-nav a {
        display: block;
        font-size: 1.5rem;
    }

    .flex-recept {
        @include mixins.flex(space-between, center, column);
        gap: 2rem;
    }
}
