@use "../css/mixins";
@use "../css/colors";

$width-body: 60vw;
$pink-color: #E91E63;
$white-font: white;
$background-body: white;

%body-box {
    width: $width-body;
    margin: 0 auto;
    padding: 20px 60px;
}

header {
    @extend %body-box;
    margin: 5vh auto 3.5vh auto;
    @include mixins.flex ();
    background-color: $background-body;
}

#nav-header {
    @include mixins.flex ();
    gap: 3vw;

    li {
        list-style-type: none;
        margin: 0;
        width: 3.5vw;
        background-color: $pink-color;
        padding: 1.5vh 1vw;
        border-radius: 1rem;
        text-align: center;
        font-weight: 600;

        a {
            color: $white-font;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.toolbar {
    @extend %body-box; 
    margin: 0 auto 3vh auto;
    @include mixins.flex ();
    background-color: $background-body;
}

main {
    @extend %body-box;
    background-color: $background-body;
}

.flex-recept {
    @include mixins.flex ();
}

footer {
    @extend %body-box; 
    margin: 5vh auto;
    background-color: $background-body;
}

#nav-footer {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        margin-bottom: 1vh;

        a {
            color: black;
        }
    }
}